
<%= form_for(@traid) do |f| %>
  <% if @traid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@traid.errors.count, "error") %> prohibited this traid from being saved:</h2>

      <ul>
      <% @traid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :title %>
    <%= f.text_field :title %>
    
    <%= f.label :conditions %>
    <%= f.text_area :conditions %>
    
    <%= f.label :offer %>
    <%= f.text_field :offer %>
    
    <%= f.label :offer_type %>
    <%= f.select :offer_type, options_for_select(Traid.offer_types)%>

    <%= f.label :offer_subtype %>
    <%= f.select :offer_subtype, options_for_select(Traid.offer_subtypes)%>
    
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
    
    <%= hidden_field_tag(:traid_user_id, params[:traid_user_id]) %>
    
    <%= f.submit %>
  </div>
<% end %>
