<div>
  <p id="notice"><%= notice %></p>
  
  <div id = "current-user-traid-copy">
    <h1>My Traid Terms</h1>
    <%= render "traids/traid_information", traid: @current_user_traid %>
    <%= link_to 'Negotiate Traid', edit_traid_path(@traid) %> 
  </div>
  
  <div id = "requested-user-traid-copy">
    <h1><%=@requested_user_traid.user.username%>'s Traid Terms</h1>
    <%= render "traids/traid_information", traid: @requested_user_traid %>
  </div>

</div>
