<p id="notice"><%= notice %></p>

<div>
  <div class="columns" id="traid-show-container">
    <div class="column">
      <h2 style="display: inline-block;">Status: <%= Traid.status(@current_user_traid.status, @requested_user_traid.status) %></h2>
      <span>Reference key: <%=@traid.key%></span>
       <div class="columns">
          <div id = "current-user-traid-copy" class="column" style="border: 1px solid gainsboro">
            <h3>My Traid Terms</h3>
            <%= render "traids/traid_information", traid: @current_user_traid %>
            <br>
            <% unless @traid.finalized? || @traid.canceled? %>
              <%= form_for(:traids, :url => edit_traid_path(@traid), :method => :get) do |f| %>
                <%= hidden_field_tag(:requested_user_id, @requested_user_traid.user_id )%>
                <%= f.submit :negotiate_traid, :class => "button is-outlined" %>
              <% end %>
            <% end %>
          </div>
          
          <div id = "requested-user-traid-copy" class="column" style="border: 1px solid gainsboro">
            <h3><%= link_to "#{@requested_user_traid.user.username}'s", user_path(@requested_user_traid.user) %> Traid Terms</h3>
            <%= render "traids/traid_information", traid: @requested_user_traid %>
            <br>
            <% unless @traid.finalized? || @traid.canceled? %>
            
              <%= form_for(:traids, :url => accept_traid_path,:html => { :class => "inline"}) do |f| %>
                <%= hidden_field_tag(:accepted_traid_id, @requested_user_traid.id) %>
                <%= hidden_field_tag(:accepter_traid_id, @current_user_traid.id) %>
                <%= f.submit "Accept Traid", :class => "button is-primary inline" %>
              <% end %>
              
              <%= form_for(:traids, :url => cancel_traid_path, :html => {:class => "inline" }) do |f| %>
                <%= hidden_field_tag(:canceled_traid_id, @requested_user_traid.id) %>
                <%= hidden_field_tag(:canceler_traid_id, @current_user_traid.id) %>
                <%= f.submit "Cancel Traid", :class => "button is-outlined is-danger inline"%>
              <% end %>
              
            <% end %>
          </div>
        </div>
        
        <!--View Previous Traid Versions-->
        <div>
          <h4>See previous versions of traid offer:</h4>
          <ul>
            <% @traid_logs.history.each do |date, user_traid| %>
              <li>
                <div class="columns">
                  <div class="column">
                    <p class="traid-show-previous-traids-dates"><%= date.to_date.to_s %></p>
                    
                    <div class="columns traid-log-container is-hidden">
                      <% user_traid.each do |user_id, traid_log| %>
                        <div class="column">
                          <%= render "traid_logs/traid_log_information", traid_log: traid_log, user_id: user_id %>
                        </div>
                      <% end %>
                    </div>
                    
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
        <!-- End Previous Traid Versions-->
        
    </div>
  </div>


</div>
